@{
    var ctl = ViewContext.RouteData.Values["controller"]?.ToString();
}
@using FoodOrderOnline.Controllers
@using FoodOrderOnline.Helpers
@using FoodOrderOnline.ViewModels
@inject IHttpContextAccessor HttpContextAccessor
@{
    // Dòng này sẽ lấy giỏ hàng từ Session
    var cart = HttpContextAccessor.HttpContext.Session
        .GetObjectFromJson<List<GioHangItem>>(GioHangController.CART_KEY) ?? new List<GioHangItem>();
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>Food - Online Shop Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    
    <link type="image/png" sizes="16x16" rel="icon" href="~/images/icons8-food-bar-bubbles-16.png">
    <link type="image/png" sizes="32x32" rel="icon" href="~/images/icons8-food-bar-bubbles-32.png">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/css/style.css" rel="stylesheet">
</head>
<body>
    <div>
        <!-- Topbar Start -->
        <div class="container-fluid">
            <div class="row bg-secondary py-1 px-xl-5">
                <div class="col-lg-6 d-none d-lg-block">
                    <div class="d-inline-flex align-items-center h-100">
                        <a class="text-body mr-3" href="">About</a>
                        <a class="text-body mr-3" href="">Contact</a>
                        <a class="text-body mr-3" href="">Help</a>
                        <a class="text-body mr-3" href="">FAQs</a>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">My Account</button>
                            <div class="dropdown-menu dropdown-menu-right">

                                @* SỬA: Đổi <button> thành <a> và thêm asp-action *@
                                <a class="dropdown-item" asp-controller="TaiKhoan" asp-action="Login">Đăng nhập</a>

                                @* SỬA: Đổi <button> thành <a> và thêm asp-action *@
                                <a class="dropdown-item" asp-controller="TaiKhoan" asp-action="Register">Đăng ký</a>
                                <a class="dropdown-item" asp-controller="TaiKhoan" asp-action="Logout">Đăng xuất</a>

                            </div>
                        </div>
                        <div class="btn-group mx-2">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">VNĐ</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">EUR</button>
                                <button class="dropdown-item" type="button">GBP</button>
                                <button class="dropdown-item" type="button">CAD</button>
                            </div>
                        </div>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">VI</button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button">EN</button>
                                <button class="dropdown-item" type="button">AR</button>
                                <button class="dropdown-item" type="button">RU</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-inline-flex align-items-center d-block d-lg-none">
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-heart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                <div class="col-lg-4">
                    <a href="/" class="navbar-brand" style="height: 6rem; padding: 0;">

                        <img src="~/images/BrandFood.jpg" alt="Online Food" style="height: 100%; width: auto;">
                    </a>

                </div>
                <div class="col-lg-4 col-6 text-left">
                    <form action="" id="search-form">
                        <div class="input-group">
                            <input type="text" class="form-control"
                                   id="search-input"
                                   placeholder="Tìm kiếm món ăn...">

                            <div class="input-group-append">
                                <button type="submit" class="input-group-text bg-transparent text-primary"
                                        style="border: 1px solid #ced4da; border-left: none;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-lg-4 col-6 text-right">
                    <p class="m-0">Chăm sóc khách hàng</p>
                    <h5 class="m-0">+0999999999</h5>
                </div>
            </div>
        </div>
        <!-- Topbar End -->
        <!-- Navbar Start -->
        <div class="bg-shopee-orange container-fluid  mb-30">
                <div class="col-lg-9">
                    <nav class="navbar navbar-expand-lg bg-shopee-orange navbar-dark py-3 py-lg-0 px-0">
                        <a href="/" class="text-decoration-none d-block d-lg-none">
                            <span class="h1 text-uppercase text-dark bg-light px-2">Good</span>
                            <span class="h1 text-uppercase text-light bg-primary px-2 ml-n1">Food</span>
                        </a>
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                            <div class="navbar-nav mr-auto py-0">
                                <a asp-controller="Dashboard" asp-action="Index"
                                   class="nav-item nav-link @(ctl == "Dashboard" ? "active" : "")">Thống kê</a>

                                <a asp-controller="CRUDMonAn" asp-action="Index"
                                   class="nav-item nav-link @(ctl == "CRUDMonAn" ? "active" : "")">Món ăn</a>

                                <a asp-controller="CRUDDonHang" asp-action="Index"
                                   class="nav-item nav-link @(ctl == "CRUDDonHang" ? "active" : "")">Đơn hàng</a>
                            </div>
                           
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Navbar End -->
        @RenderBody()

        @await Html.PartialAsync("_Footer")

    </div>




    <!-- Back to Top -->
    <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>




    @* SỬA LỖI 5: Đổi link CDN (đang lỗi) sang link LOCAL *@
    @* Dựa trên ảnh wwwroot của bạn, file jquery.js nằm ở đây: *@
    <script src="~/lib/jquery/dist/jquery.js"></script>

    @* Chúng ta vẫn dùng CDN cho Bootstrap, nhưng thêm fallback (dự phòng) *@
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script>
        if (typeof($.fn.modal) === 'undefined') {
            // Nếu Bootstrap không tải được, dùng link local (giả sử bạn có)
            document.write('<script src="~/lib/bootstrap/bootstrap.bundle.min.js"><\/script>');
        }
    </script>

    <script src="~/lib/easing/easing.min.js"></script>
    <script src="~/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="~/mail/jqBootstrapValidation.min.js"></script>
    <script src="~/mail/contact.js"></script>

    <script src="~/js/main.js" asp-append-version="true"></script>

    @* Dòng này RẤT QUAN TRỌNG, nó dùng để chạy script "Add to Cart" *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
