@model IEnumerable<FoodOrderOnline.ViewModels.DanhMucMonAnVM>
@{
    var selectedIds = (IEnumerable<int>)(ViewBag.SelectedIds ?? Enumerable.Empty<int>());
    bool checkAll = !selectedIds.Any(); 
}
@foreach (var dm in Model)
{
    var isChecked = selectedIds.Contains(dm.MaDm);
    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
        <input type="checkbox"
               class="custom-control-input dm-checkbox"
               id="dm-@dm.MaDm"
               value="@dm.MaDm" @(isChecked ? "checked" : "") />
        <label class="custom-control-label" for="dm-@dm.MaDm">@dm.TenDm</label>
    </div>
}
