@model dynamic
<div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">

    <input type="checkbox"
           class="custom-control-input dm-checkbox"
           id="dm-all"
           value="all"
           checked> <label class="custom-control-label" for="dm-all">Tất cả danh mục</label>

    <span class="badge border font-weight-normal">@ViewBag.TotalCount</span>
</div>